<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rtc.web.just">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:supportsRtl="true"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:label="@string/application_name"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name="rtc.PermissionActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="webrtc.org"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name="rtc.PartnerDetectorActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name="rtc.WebRTCActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

    </application>
</manifest>